/* .............GENERAL.............. */
*, 
::after,
::before {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul, ol, li {
  list-style: none;
}
html, body {
  box-sizing: content-box;
  width: 100%;
  font-family: 'Nutino', sans-serif;
	font-weight: 700;
	line-height: 1;
	font-size: 14px;
	overflow-x: hidden;
}
/* ................NAVBAR.............. */
.navbar {
  position: fixed;
  display: block;
  box-sizing: content-box;
  width: 100%;
  padding: 1.5% 0 1.5% 0;
  background-color: #ffff;
  z-index: 100;
}
.nav-list {
  display: flex;
  justify-content: flex-end;
  gap: 5%;
  margin-right: 4%;
  margin-top: -1%;
}
.logo {
  width: 80%;
  margin: 0% 0% 0% 4%;
  }
.nav-list a {
  flex-grow: 1;
  flex-basis: 0;
  padding: 10px;
  color: #272142;
  text-align: center;
}
.nav-list a:hover {
  color: #662EED;
}
.navbar label, #hamburger {
  display: none;
}

/* .................MAIN............. */
.wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  min-height: 100%;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: content-box;
}
.main {
  margin-top: 5%;
}
.header {
  display: inline-grid;
  flex-direction: row;
  background-image: url(/src/overlay.jpg);
  height: 265px;
  width: 1440px;
}
.header h1 {
  white-space: pre-line;
  text-align: center;
  font-size: 72px;
  line-height: 77px;
  color: #ffff;
  height: 127px;
}
.header p {
  text-align: center;
  white-space: pre-line;
  font-size: 24px;
  line-height: 35px;
  color: #ffff;
}
.recipe-flex {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  margin: 5%;
}
.recipe-flex img {
  margin-bottom: 2%;
}
.recipe-flex p {
  margin-bottom: 2%;
  width: 560px;
  height: 38px;
  font-size: 28px;
  line-height: 38px;
  color: #272142;
}
/* ................FOOTER........ */
.footer {
  display: flex;
  justify-content: space-around;
  margin-left: -7.5%;
  padding: 20px;
  background-color: #F9F7FE;
}

.logo-footer {
  width: 80%;
  margin-top: -1.9%;
}
.footer ul {
  display: flex;
  justify-content: center;
  gap: 55%;
}
.footer a {
  color: #272142;
}
.footer a:hover {
  color: #662EED;
}
/* ..............@MEDIA.................. */
@media (max-width: 767px) {
/* ................NAVBAR........... */
  .nav-list {
    display: block;
    transition: 1.2s ease-in-out;
  }
  .logo img {
    width: 20%;
    margin-left: 10%;
  }
  .nav-list a {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    border-bottom: 1px solid #662EED;
    width: 100%;
  }
  .nav-list a:hover {
    color: #662EED;
    transition: 0.3s ease-in-out;
    margin-top: 5px;
  }
  .navbar label {
    position: absolute;
    display: flex;
    color: #272142;
    background-color: #ffff;
    margin-left: 1%;
    margin-top: -4%;
    font-size: 1.6em;
    transition: 1.2s ease-in-out;
    cursor: pointer;
  }
  .navbar label:hover {
    transition: 1.2s ease-in-out;
    color: #662EED;
  }
  .nav-list {
    display: none;
  }
  .navbar input:checked ~ .nav-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
  flex-basis: 0;
  opacity: 0.9;
  }
  /* .................MAIN.............. */
  .recipe-flex {
    display: block;
  }
  .recipe-flex img {
    text-align: center;
    width: 80%;
  }
  .recipe-flex p {
    font-size: 18px;
  }
  .header {
    width: 80%;
  }
  .header h1 {
    margin-top: 8%;
    font-size: 48px;
    line-height: 55px;
  }
  .header p {
    font-size: 16px;
  }
  /* ..............FOOTER.......... */
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .footer ul {
    gap: 5%;
  }
  .logo-footer {
    margin-left: 14%;
    width: 40%;
  }
  .display-none {
    display: none;
  }
}