/* .............GENERAL.............. */
*, 
::after,
::before {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #272142;
}
h1, 
h2,
h3, 
p,
li {
  color: #272142;
}
ul, ol, li {
  list-style: none;
}
html, body {
  box-sizing: content-box;
  width: 100%;
  font-family: 'Nutino', sans-serif;
	font-weight: 700;
	line-height: 1;
	font-size: 14px;
	overflow-x: hidden;
}
body {
  position: relative;
  min-height: 100vh;
}
body::after {
  content: '';
  display: block;
  height: 50px;
}
/* ................NAVBAR.............. */
.navbar {
  position: fixed;
  display: block;
  box-sizing: content-box;
  width: 100%;
  padding: 20px;
  background-color: #ffff;
  opacity: 0.97;
  z-index: 100;
}
.nav-list {
  display: flex;
  justify-content: flex-end;
  gap: 5%;
  margin-right: 4%;
  margin-top: -1%;
}
.logo {
  width: 80%;
  margin: 0% 0% 0% 4%;
  }
.nav-list a {
  flex-grow: 1;
  flex-basis: 0;
  padding: 10px;
  text-align: center;
}
.nav-list a:hover {
  color: #662EED;
}
.navbar label, #hamburger, .small-logo {
  display: none;
}
/* .................MAIN............. */
.container {
  position: relative;
  display: block;
  margin: 0 auto;
  padding-top: 5%;
  box-sizing: content-box;
}
.header {
  display: block;
  background-image: url(/src/overlay.jpg);
  height: 265px;
  width: 100%;
  margin-top: 3%;
}
.header h1 {
  white-space: pre-line;
  text-align: center;
  font-size: 72px;
  line-height: 77px;
  color: #ffff;
  height: 127px;
  margin: 2% auto;
}
.header p {
  text-align: center;
  white-space: pre-line;
  font-size: 24px;
  line-height: 35px;
  color: #ffff;
}
.recipe-flex {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 25px;
  margin: 5%;
}
.recipe-flex p {
  margin: 10px 0;
  height: 38px;
  font-size: 28px;
  line-height: 38px;
  color: #272142;
}
/* ................FOOTER........ */
.footer {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 18px;
  width: 100%;
  margin-top: 3%;
  bottom: 0;
  background: #F9F7FE;
}
.footer ul {
  display: flex;
  gap: 60%;
}
.footer a {
  color: #272142;
}
 a:hover {
  color: #662EED;
}
/* ......................ABOUTME PAGE.................. */
  h1 {
    text-align: center;
    font-weight: 700;
    font-size: 72px;
    line-height: 98px;
  }
  .aboutme  {
    display: flex;
    margin: 3% 5% 5% 5%;
    gap: 5%;
  }
  .aboutme-flex {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
  }
  .aboutme h2 {
    font-size: 64px;
    line-height: 87px;
  }
  .aboutme p {
    white-space: pre-line;
    font-size: 18px;
    line-height: 30px;
  }
  .follow-links {
    display: flex;
    gap: 10%;
    line-height: 30px;
  }
  .follow-span {
    color: #272142;
    font-size: 18px;
  }
  .fav-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    margin-bottom: 2.5%;
  }
  .fav-recipe {
    display: flex;
    justify-content: center;
    gap: 5%;
  }
  .fav-recipe img,
  .fav-recipe h3 {
    margin-bottom: 5%;
  }
  .fav-recipe p {
    white-space: pre-line;
    font-weight: 400;
    line-height: 30px;
  }
  /* ............CONTACT PAGE........... */
  .contact-section {
    display: flex;
    gap: 5%;
    margin: 3%;
  }
  .contact-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
  }
   .contact-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #662EED;
    margin-bottom: 1%;
  }
  .contact-span {
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #272142;
    }
    .contact-span i {
      margin-right: 30px;
    }
    .map {
      display: flex;
      flex-direction: column;
      margin-right: 10px;
    }
    iframe {
      margin: 20px;
      max-width: 400px;
      max-height: 200px;
    }
    /* ..........RECIPE PAGE............... */
    .recipe-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 20px;
    }
    .card {
      display: flex;
      justify-content: space-around;
    }
    .recipe-card h2 {
      line-height: 49px;
      font-size: 36px;
      font-weight: 700;
      margin: 20px 0;
    }
    .recipe-card img {
      width: 55%;
      height: 55%;
    }
    .card h2 {
      font-weight: 700;
      font-size: 24px;
      line-height: 33px;
      border-bottom: 1px dashed #67d5d2;
    }
    .ingridient-list li {
      border-bottom: 1px dashed #67d5d2;
    }
    .ingridient-list, .method p {
      font-weight: 400;
      font-size: 18px;
      line-height: 30px;
      white-space: pre-line;
      padding-right: 40px;
    }
    .method-title {
      color: #f65282;
      font-weight: 800;
      font-size: 18px;
      line-height: 25px;
      margin: 5% 0;
    }
/* ..............@MEDIA.................. */
@media (max-width: 767px) {
/* ................NAVBAR........... */
  .nav-list {
    display: block;
    transition: 1.2s ease-in-out;
  }
  .logo {
    width: 40%;
    margin-left: 52%;
  }
  .nav-list a {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    border-bottom: 1px solid #662EED;
    top: 10%;
    width: 90%;
  }
  .nav-list a:hover {
    color: #662EED;
    transition: 0.3s ease-in-out;
    margin-top: 5px;
  }
  .navbar label {
    position: absolute;
    display: flex;
    color: #272142;
    margin: -5% 0 0 0;
    font-size: 3em;
    transition: 1.2s ease-in-out;
    opacity: 0.9;
    cursor: pointer;
  }
  .navbar label:hover {
    transition: 1.2s ease-in-out;
    color: #662EED;
  }
  .nav-list {
    display: none;
  }
  .navbar input:checked ~ .nav-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 20px ;
  flex-grow: 1;
  flex-basis: 0;
  }
  /* .................MAIN.............. */

  .recipe-flex p {
    font-size: 16px;
    text-align: center;
  }
  .header {
    width: 100%;
    margin: 15% 0;
  }
  .header h1 {
    font-size: 48px;
    line-height: 55px;
  }
  .header p {
    font-size: 18px;
  }
  .recipe-flex img {
    width: 96%;
    margin: 10px;
  }
  /* ..........ABOUT PAGE...... */
  h1 {
    font-size: 38px;
    margin-top: 25px;
  }
  .aboutme {
    flex-direction: column;
    justify-items: center;
  }
  .aboutme h2 {
    font-size: 26px;
  }
  .aboutme img {
    width: 90%;
    height: 90%;
  }
  .aboutme-flex p {
    font-size: 14px;
    font-weight: 400;
    white-space: normal;
    margin-bottom: 10px;
  }
  .follow-links {
    margin-bottom: 10px;
  }
  .fav-title {
    font-size: 26px;
    margin-top: 20px;
  }
  .fav-recipe {
    flex-direction: column;
    align-items: center;
  }
  .fav-recipe p {
  margin-bottom: 25px;
  border-bottom: 1px dashed #67d5d2;
  }
  /* ..............CONTACT PAGE......... */
  .contact-section {
    display: flex;
    flex-direction: column;
    justify-items: center;
  }
  .contact-flex {
    margin-top: 15px;
  }
  .contact-span {
    margin: 15px 0;
  }
  .contact-section img {
    width: 90%;
    height: 90%;
  }
  /* ..............FOOTER.......... */
  .footer ul {
    gap: 40%;
  }
  .footer > a:last-child {
    font-size: 10px;
    margin-left: 10%;
  }
  .logo-footer {
    width: 60%;
  }
  .display-none {
    display: none;
  }
}